<!DOCTYPE html>
<html>
<head>
  <title>HH</title>
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>  
<ul class="breadcrumbs">
<li> <%= link_to 'Home', root_path, :class => "topbar_links" %></li>
<% if @current_user %>
	<li><%= link_to "Logged in as #{current_user}", "#", {:class => "topbar_links"} %></li>
	<li><%= link_to 'New Problem', new_problem_path, :class => "topbar_links"%></li>
	<li> <%= link_to 'Logout', logins_destroy_path,:class => "topbar_links" %></li>
<% else %>
	<li><%= link_to "Sign Up", new_user_path, :class => "topbar_links" %></li>
	<li><%= link_to "Login", new_login_path, :class => "topbar_links" %></li>
<% end %>
  
</ul>
  <%= display_alert(:notice) %>
  <%= display_alert(:alert) %>
<%= yield %>


</body>
</html>
